<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Training Movie Database</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class = "p-3 m-1 bg-info page-header">
            <h1>
              Training Movie Database 
              <small>Tous les films au cinéma</small>
            </h1>
        </div>
        <div id="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <footer>
        <img src="https://www.themoviedb.org/static_cache/v4/logos/408x161-powered-by-rectangle-blue-10d3d41d2a0af9ebcb85f7fb62ffb6671c15ae8ea9bc82a2c6941f223143409e.png" />This product uses the TMDb API but is not endorsed or certified by TMDb.
    </footer>
</html>