{% extends 'layout.html.twig' %}

{% block content %}
	{% for movie in movies %}
	<div class="d-inline card" style="width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">{{movie.getTitle()}}</h5>
			<p class="card-text">{{movie.getDescription()[:170]}}</p>
			<a href="{{ path('movie.show', {'id': movie.getId()}) }}" class="btn btn-primary">Plus d'informations</a>
		</div>
	</div>
	{% endfor %}
{% endblock %}